<div class="footer-section">
  <div class="flex-section">
    <div class="first-container">
      <img src="../../../assets/images/revamp-logo.png" />
      <img class="revamp-text" src="../../../assets/images/revamp-text.png" />
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sodales vitae
        venenatis eu tristique rna dui blandit, Noida, 789982, India
      </div>
    </div>
    <div class="product-and-contact">
      <ul class="no-bullets">
        <li>Our products</li>
        <li>Sofa</li>
        <li>Dining Table</li>
        <li>Bed</li>
        <li>Others</li>
      </ul>
      <ul class="no-bullets">
        <li>Company</li>
        <li>Our Designers</li>
        <li>About Us</li>
      </ul>
      <ul class="no-bullets">
        <li>Contact Us</li>
        <li>
          <img
            src="../../../assets/images/email.png"
          />enquiry&#64;revambros&#64;gmail.com
        </li>
        <li><img src="../../../assets/images/phone.png" />+91-8888888888</li>
      </ul>
    </div>
  </div>
  <div class="flex-media-section">
    <img src="../../../assets/images/Instagram.png" />
    <img src="../../../assets/images/facebook.png" />
    <img src="../../../assets/images/linkedin.png" />
  </div>
  <section class="flex-policy-and-condition-section">
    <p>Privacy Policy</p>
    <p class="vertical-line"></p>
    <p>Terms & Condition</p>
    <p class="vertical-line"></p>
    <p>Cookie Policy</p>
  </section>
  <div class="copyright-section">
    &copy; 2023 RevampBros. All rights reserved.
  </div>
</div>
